{% extends 'layout/basis.html' %}

{% block content %}
    <div class="content">
    {% include 'layout/header.html' %}
    {% include 'layout/sidebar.html' %}
        <div class="public">
            <nav class="cumbs1">
                <a href="/sections/{{ object.id }}">{{ object.title }}</a>
                <a href="#"></a>
            </nav>
            <div id="sweeties" class="menu">
                <p class="title1">Раздел</p>
                <ul class="swon">
                    {% for topic in object.topic_set.all %}
                        <li><a href="/sections/topic/{{ topic.pk}}">{{ topic.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% for i in public %}
                <div class="ctx">
                   <h3><a class="title" href="/public/{{ i.id }}">{{ i.title }}</a></h3>
                   <p class="select">Разделы:{{ i.section.section.title}}</p>
                   <p><a href="#" class="author">{{ i.author.nickname }}</a></p>
                   <p id="ctx" class="text">{{ i.ctx|safe|truncatechars_html:350 }}</p>
                   <a href="public/{{ i.id }}" class="read">Читать... </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="/static/js/section.js"></script>
{% endblock %}