<header class="head">
  <p><a href="/" id="head"> Вильдан<sub>Prog</sub></a></p>
    {% if request.session.auth %}
        <div class="auth">
          <a id='my-profile' href="#boo">Мой профиль</a>
          <div id="boo" class="modalDialog">
              <div>
                  <a href="#close" title="Закрыть" class="close" style="background: red; color: black; border: 1px solid black; ">X</a>
                  <h5 class="settings"><a href="/users/setting/{{ request.session.auth }}">Настройки</a></h5>
                  <h5 class="settings"><a href="/users/my-publications/">Мои публикации</a></h5>
                  <h5><a href="/users/my-not-publications/">Неопубликованные посты</a></h5>
              </div>
          </div>
          <p>|</p>
          <a href="#">Выход</a>
        </div>
    {% else %}
        <div class="auth">
          <a href="/users/login/">Войти</a>
          <p>|</p>
          <a href="/users/signup/">Регистрация</a>
        </div>
    {% endif %}
    <hr>
</header>
