{% extends 'layout/basis.html' %}

{% block content%}
    <div class="content">
        {% include 'layout/header.html' %}
        {% include 'layout/sidebar.html' %}
            <div class="public">
                <form id="api_form" method="post">
                    {% csrf_token %}
                    <input type="text" name="nickname" value="{{ object.nickname }}">
                    <input type="email" name="email" value="{{ object.email }}" >
                    <textarea name="about_oneself">{{ object.about_oneself }}</textarea>
                    {%  if object.partner %}
                        <input type="checkbox" id="partner" name="partner" value="true" checked>
                    {% else %}
                        <input type="checkbox" id="partner" name="partner" value="true">
                    {% endif %}
                    <label for="partner">Могу быть напарником</label>
                    <input type="button" id="save" value="Редактировать">
                </form>
            </div>
    </div>
    <script>
        let myHeaders = new Headers();
        myHeaders.append("Accept", "application/json");
        document.getElementById('save').addEventListener('click',function () {
            fetch('http://localhost:8000/api/user_settings/', {
                method: 'post',
                body: new FormData(document.getElementById('api_form')),
                headers: myHeaders,
            }).then(function (res) {
                return res.json()
                }).then(res=>{
                alert(res['res'])
            }).catch(function (err) {
            console.log(err)})
        } );
    </script>
{% endblock %}