{% extends 'layout/basis.html' %}

{% block content%}
    <div class="content">
        {% include 'layout/header.html' %}
        {% include 'layout/sidebar.html' %}
            <div class="public">
                <form id="api_form" method="post">
                    {% csrf_token %}
                    <input type="text" value="{{ object.nickname }}">
                    <input type="email" value="{{ object.email }}">
                    <textarea>{{ object.about_oneself }}</textarea>
                    <input type="checkbox">
                    <input type="button" id="save" value="Зарегистрироваться">
                </form>
            </div>
    </div>
    <script>
        let myHeaders = new Headers();
        myHeaders.append("Accept", "application/json");
        document.getElementById('save').addEventListener('click',function () {
            fetch('http://localhost:8000/api/user_settings/', {
                method: 'post',
                body: new FormData(document.getElementById('api_form')),
                headers: myHeaders,
            }).then(function(){
                location.href = 'http://localhost:8000/api/user_settings/'
            }).catch(function (err) {
            console.log(err)})
        } );
    </script>
{% endblock %}